name: Mandrake web deploy

on:
  push:
    branches: [develop]

jobs:
  deploy:
    name: Deploy web
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - uses: subosito/flutter-action@v1
      with:
        flutter-version: '1.20.0-7.4.pre'
        channel: 'beta'
    - name: Enable web
      run: flutter config --enable-web
    - name: Install Dependencies
      run: flutter pub get
    - name: Run tests
      run: flutter test
    - name: Build web
      run: flutter build web --release --dart-define=FLUTTER_WEB_USE_SKIA=true
    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@releases/v3
      with:
        BRANCH: gh-pages
        FOLDER: build/web
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
